<head>
  <link rel="stylesheet" href="/src/styles/stytwo.css" />
</head>

<header class="header sticky-top nav-bg">
  <div class="max-w-8xl mx-auto">
    <nav class="navbar">
      <div class="flex items-center justify-between p-4">
        <div class="logo">
          <a href=""
            ><img
              class="logoimg"
              src="/src/img/GAMExSTORE2.png"
              alt="logo"
            /></a
          >
        </div>
        <ul class="nav-item">
          <li><a href="#inicio">inicio</a></li>
          <li><a href="#about">sobre nosotros</a></li>

          <li><a href="#team">Nuestros productos</a></li>
          <li><a href="#leales">Clientes leales</a></li>
          <li>
            <a href="#">contacto</a>
          </li>
        </ul>
        <div class="header-right flex items-center justify-center space-x-4">
          <div class="header-meta">
            <ul>
              <li>
                <a href="#" data-bs-toggle="modal">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-search"
                    width="20"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#ffffff"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                    <path d="M21 21l-6 -6"></path>
                  </svg>
                </a>
              </li>
              <li class="cart">
                <a href="#" class="cart-bag">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-shopping-bag"
                    width="20"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#ffffff"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z"
                    ></path>
                    <path d="M9 11v-5a3 3 0 0 1 6 0v5"></path>
                  </svg>
                  <span>3</span></a
                >
              </li>
              <li>
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-world"
                    width="20"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#ffffff"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                    <path d="M3.6 9h16.8"></path>
                    <path d="M3.6 15h16.8"></path>
                    <path d="M11.5 3a17 17 0 0 0 0 18"></path>
                    <path d="M12.5 3a17 17 0 0 1 0 18"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <span id="menuTaggler">
            <span class="menu-bar"></span>
          </span>
        </div>
      </div>
    </nav>
  </div>
</header>

<section id="inicio" class="relative aspect-[16/9]">
  <img
    class="absolute inset-0 w-full h-full object-cover"
    src="/src/img/slider_bg_01.jpg"
    alt="Imagen descriptiva"
  />
  <div class="absolute inset-0 bg-gray-800 opacity-50"></div>
  <div
    class="absolute inset-16 max-w-[60%] lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 mt-16"
  >
    <div class="static"></div>

    <div
      class="absolute inset-x-4 top-1/2 transform -translate-y-1/2 text-base md:text-lg lg:text-xl xl:text-2xl"
    >
      <h1>GAMExSTORE</h1>
      <h1>
        TODO <span class="text-red-700">SOBRE</span> VIDEOJUEGOS
      </h1>
    </div>
  </div>
</section>

<section id="about" class="bg-white dark:bg-gray-900">
  <div
    class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-8 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h2
        class="max-w-2xl mb-4 text-5xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-8xl dark:text-white"
      >
        Sobre GAME <span style="color: brown;">x</span>STORE
      </h2>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        En GAMExSTORE, nuestra pasión es ofrecer a los entusiastas de los
        videojuegos una experiencia de compra única y emocionante. Desde juegos
        nuevos hasta accesorios imprescindibles, nos esforzamos por traer lo
        mejor del mundo de los videojuegos directamente a tu puerta. 🚀✨
      </p>
      <h3 class="text-xl font-semibold mb-4">Nuestra Misión</h3>
      <p class="text-gray-500 max-w-2xl">
        Nuestro objetivo es ser la tienda en línea líder en videojuegos,
        proporcionando a nuestros clientes los productos más recientes y
        populares, junto con un servicio al cliente excepcional.
      </p>
      <h3 class="text-xl font-semibold mb-4">Nuestra Visión</h3>
      <p class="text-gray-500 max-w-2xl">
        Buscamos innovar en la forma en que los jugadores interactúan con sus
        juegos favoritos, ofreciendo una plataforma fácil de usar, segura y con
        una amplia variedad de productos para todos los gustos.
      </p>
      
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <img
        class="animate-wiggle animate-infinite"
        src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/37876.png"
        alt="mockup"
      />
    </div>
  </div>
</section>

<section id="leales">
  <div class="block w-full h-full">
    <div
      class="flex items-center justify-center max-w-[950px] mx-auto mt-12 flex-0 animate-pulse animate-infinite"
    >
      <div class="relative z-[1000] w-full h-auto mx-auto md:aspect-[2/1]">
        <div class="h-full isolate md:aspect-[2/1]">
          <div class="h-full">
            <div
              class="atropos block w-full h-auto mx-auto shadow-2xl md:aspect-[2/1] [box-sizing:border-box] atropos-rotate-touch"
            >
              <span
                class="atropos-scale"
                style="transform: translate3d(0px, 0px, 0px); transition-duration: 300ms;"
                ><span
                  ><span class="atropos-inner backdrop-blur-xl rounded-[60px]"
                    ><div
                      class="block h-full overflow-hidden opacity-100 rounded-[60px] shadow-[inset_0_4px_30px] bg-transparent border p-5 aspect-none w-full md:aspect-[2/1] border-slate-400/10 shadow-slate-400/25 transition duration-500 ease-in-out"
                    >
                      <div
                        class="relative h-full overflow-hidden border rounded-[40px] grid md:flex bg-[#2e1065]/50 border-slate-300/20 transition duration-500 ease-in-out"
                      >
                        <div
                          class="absolute w-1/2 rotate-45 h-[300%] left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 bg-gradient-to-r from-[#41b3ff00] via-[#b0a9ff13] to-[#41b3ff00]"
                        >
                        </div><span
                          class="h-full font-mono text-center text-white font-bold ticket-dash-border-top row-[3/4] px-4 py-4 md:py-0 text-4xl md:px-4 md:text-3xl md:[writing-mode:vertical-lr] md:ticket-dash-border"
                          >#000001</span
                        ><div
                          class="md:w-auto row-[2/3] mb-8 md:mb-0 left-0 mx-auto md:mx-0 h-32 md:h-[40%] relative flex justify-center w-full bottom-0 md:left-[10%] md:bottom-[40%] md:absolute"
                        >
                          <!--############### -->
                          <div class="rounded-lg shadow-lg p-6">
                            <h3 class="text-xl font-semibold mb-4">
                              Esquema de Acumulación de Puntos
                            </h3>
                            <div
                              class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
                            >
                              <div
                                class="bg-gray-50 p-4 rounded-lg text-center"
                              >
                                <h4
                                  class="text-lg fon text-green-950 font-semibold mb-2"
                                >
                                  Hasta $50
                                </h4>
                                <p class="text-2xl font-bold text-green-600">
                                  5 Puntos
                                </p>
                                <p class="text-gray-600 mt-2">
                                  Por cada compra hasta $50, acumulas 5 puntos.
                                </p>
                              </div>
                              <div
                                class="bg-gray-50 p-4 rounded-lg text-center"
                              >
                                <h4
                                  class="text-lg font-semibold mb-2 text-green-950"
                                >
                                  $51 - $100
                                </h4>
                                <p class="text-2xl font-bold text-green-600">
                                  10 Puntos
                                </p>
                                <p class="text-gray-600 mt-2">
                                  Por cada compra entre $51 y $100, acumulas 10
                                  puntos.
                                </p>
                              </div>
                              <div
                                class="bg-gray-50 p-4 rounded-lg text-center"
                              >
                                <h4
                                  class="text-lg font-semibold mb-2 text-green-950"
                                >
                                  $101 y más
                                </h4>
                                <p class="text-2xl font-bold text-green-600">
                                  20 Puntos
                                </p>
                                <p class="text-gray-600 mt-2">
                                  Por cada compra superior a $101, acumulas 20
                                  puntos.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div><div
                          class="z-10 grid w-full h-auto md:h-full pt-5 md:pt-0 grid-rows-[1fr_auto] md:grid-rows-2"
                        >
                          <div class="grid md:grid-cols-2">
                            <div class="h-max">
                              <div
                                class="flex justify-start gap-4 text-white gap-y-2 p-5 flex-col md:items-start md:flex-row md:p-6 items-center text-center md:text-left"
                              >
                                <div>
                                  <p class="text-xl font-bold">
                                    <span class="opacity-75 text-midu-primary"
                                      >#</span
                                    >#####
                                  </p><span
                                    class="block text-sm font-normal w-max text-white/60"
                                    >Clientes Leales</span
                                  >
                                </div>
                              </div>
                            </div><div
                              class="items-center gap-4 p-5 flex md:block flex-col-reverse md:flex-row"
                            >
                              <svg
                                preserveAspectRatio="xMidYMid"
                                viewBox="0 0 228 198"
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                class="order-1 h-auto w-9 ml-0 md:ml-auto"
                                ><g
                                  ><path
                                    fill="#199afc"
                                    d="M73.2 126.4c-15 15-15 39.3 0 54.3L19 126.4C4 111.5 4 87.2 19 72.2L73.2 18c15-15 39.2-15 54.2 0s15 39.2 0 54.2z"
                                  ></path><path
                                    fill="#1d5682"
                                    d="m73.2 126.4 27.1-27.1 27.1 27.1c15 15 15 39.3 0 54.3-15 14.9-39.2 14.9-54.2 0-15-15-15-39.3 0-54.3z"
                                  ></path><g
                                    ><path
                                      fill="#199afc"
                                      d="M185.5 84.3c8.3-8.2 8.3-21.7 0-29.9l30 29.9c8.2 8.3 8.2 21.7 0 30l-30 30c-8.3 8.3-21.7 8.3-30 0s-8.3-21.7 0-30z"
                                    ></path><path
                                      fill="#1d5682"
                                      d="m185.5 84.3-15 15-15-15c-8.3-8.2-8.3-21.7 0-29.9 8.3-8.3 21.7-8.3 30 0 8.3 8.2 8.3 21.7 0 29.9z"
                                    ></path></g
                                  ></g
                                ></svg
                              ><p
                                class="block mt-2 ml-auto font-bold text-white md:ml-0 text-center mr-auto md:mr-0 md:text-right"
                              >
                                Puntos Leales<span
                                  class="block text-sm font-normal text-white/60 animate-blurred-fade-in"
                                  >000001 P</span
                                >
                              </p>
                            </div>
                          </div><div
                            class="flex flex-row-reverse items-center w-auto h-auto gap-2 mx-auto md:ml-0 justify-center md:justify-self-end md:mr-4"
                          >
                          </div><div
                            class="grid self-end gap-4 grid-cols-1 md:grid-cols-[1fr_auto] md:grid-rows-[auto_auto] md:gap-0"
                          >
                            <div
                              class="flex flex-col justify-end px-2 md:px-0 items-center w-full md:w-auto md:items-start pb-0 md:pl-5 md:pb-5 mx-auto md:mx-0 md:row-[2/3]"
                            >
                              <span class="pb-1 pl-2 text-sm text-white/80"
                                >Gracias a:</span
                              >
                              <div
                                class="flex items-center flex-wrap justify-center grid-cols-3 gap-4 px-4 py-2 bg-white/10 w-auto rounded md:rounded-full md:justify-start md:flex-nowrap"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-brand-instagram"
                                  width="44"
                                  height="44"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="#ffffff"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path>
                                  <path
                                    d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                                  ></path>
                                  <path
                                    d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                                  ></path>
                                  <path d="M16.5 7.5l0 .01"></path>
                                </svg>
                                <a
                                  href="https://www.instagram.com/gamexstoresv/"
                                  >GAMExSTORE</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><span
                      class="atropos-highlight"
                      style="transform: translate3d(0px, 0px, 0px); transition-duration: 300ms; opacity: 0;"
                    ></span></span
                  ><span
                    class="atropos-shadow"
                    style="transform: translate3d(0px, 0px, -50px) scale(1); transition-duration: 300ms;"
                  ></span></span
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div><div
      class="flex flex-col items-center justify-center gap-4 mx-auto mt-16 scale-90 md:flex-row sm:scale-100"
    >
    </div>
  </div>
  <div
    class="relative flex flex-col items-center justify-center w-full h-full gap-4 overflow-hidden rounded-lg max-w-screen-base bg-background"
  >
    <div
      class="grid gap-4 md:flex md:flex-wrap md:justify-center md:grid-cols-2 lg:grid-cols-2"
    >
    </div>
  </div>
</section>
